<?xml version="1.0"?>
<config>
    <modules>
        <Codecia_Agendamento>
            <version>1.0.0</version>
        </Codecia_Agendamento>
    </modules>
    <global>
        <models>
            <codecia_agendamento>
                <class>Codecia_Agendamento_Model</class>
                <resourceModel>codecia_agendamento_resource</resourceModel>
            </codecia_agendamento>
            <codecia_agendamento_resource>
                <class>Codecia_Agendamento_Model_Resource</class>
                <deprecatedNode>codecia_agendamento_mysql4</deprecatedNode>
            </codecia_agendamento_resource>
        </models>
        <helpers>
            <codecia_agendamento>
                <class>Codecia_Agendamento_Helper</class>
            </codecia_agendamento>
        </helpers>

        <resources>
            <codecia_agendamento_setup>
                <setup>
                    <module>Codecia_Agendamento</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codecia_agendamento_setup>
            <codecia_agendamento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codecia_agendamento_write>
            <codecia_agendamento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codecia_agendamento_read>
        </resources>
        <blocks>
            <codecia_agendamento>
                <class>Codecia_Agendamento_Block</class>
            </codecia_agendamento>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Codecia_Agendamento>
                    <files>
                        <default>Codecia_Agendamento.csv</default>
                    </files>
                </Codecia_Agendamento>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_agendamento>
                    <file>codecia_agendamento.xml</file>
                </codecia_agendamento>
            </updates>
        </layout>
        <routers>
            <codecia_agendamento>
                <use>standard</use>
                <args>
                    <module>Codecia_Agendamento</module>
                    <frontName>cc_agendamento</frontName>
                </args>
            </codecia_agendamento>
        </routers>
        <events>
            <catalog_product_save_before>
                <observers>
                    <codecia_agendamento>
                        <type>singleton</type>
                        <class>Codecia_Agendamento_Model_Observer</class>
                        <method>catalog_product_save_before</method>
                    </codecia_agendamento>
                </observers>
            </catalog_product_save_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <codecia_agendamento_admin>
                <use>admin</use>
                <args>
                    <module>Codecia_Agendamento</module>
                    <frontName>cc_agendamento_admin</frontName>
                </args>
            </codecia_agendamento_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Codecia_Agendamento>
                    <files>
                        <default>Codecia_Agendamento.csv</default>
                    </files>
                </Codecia_Agendamento>
            </modules>
        </translate>
        <layout>
            <updates>
                <codecia_agendamento>
                    <file>codecia_agendamento.xml</file>
                </codecia_agendamento>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <codecia_agendamento>
                <active>0</active>
            </codecia_agendamento>
        </carriers>
    </default>
</config>
